    /* contoh selector di eksternal */
    
    p {
        color: black;
        text-align: justify;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 12pt;
    }
    
    body {
        background-color: beige;
        background-image: url('../img/th.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    fieldset,
    legend {
        border-width: 1px;
        border-color: burlywood;
        border-radius: 30px;
    }
    
    legend {
        padding: 10px;
        background-color: cornflowerblue;
        color: black;
        font-weight: bold;
        font-size: 14pt;
    }
    
    table {
        border: 10px;
        margin: auto;
    }
    
    tr {
        padding: 5px;
        border: 1px solid goldenrod;
    }
    
    tr:hover {
        background-color: cornflowerblue;
        color: aliceblue;
        font-size: 20pt;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        padding: 10px;
    }
    
    #paragraph {
        text-align: left;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 10px;
        color: darkgreen;
    }
    
    ul,
    li,
    a.item:link,
    a.item:visited,
    a.item:active {
        text-decoration: none;
        list-style: none;
        display: block;
        float: left;
        padding: 2px 3px;
    }